@{
    ViewData["Title"] = @ViewBag.TrailName;
}

<a>Go Home</a>

<h1>@ViewBag.TrailName</h1>
<h3>Description:</h3>
<p>@ViewBag.Description</p>
<h3>Trail Length:</h3>
<p>@ViewBag.Length</p>
<h3>Elevation Change:</h3>
<p>@ViewBag.Elevation</p>
<p>Longitude - @ViewBag.Longitude</p>
<p>Latitude - @ViewBag.Latitude</p>