@{
    ViewData["Title"] = "Home Page";
}

<nav>
    <ul>
        <li><a href="/">Dashboard</a></li> |
        <li><a href="/Products">Products</a></li> |
        <li><a href="/Orders">Orders</a></li> |
        <li><a href="/Customers">Customers</a></li>
    </ul>
</nav>

<div>
    <form asp-action="Search" asp-action="Home" method="Post">
        <input asp-for="ProductName">
        <input type="submit" value="Filter">
    </form>
</div>

<div>
    @{
        foreach(var product in @ViewBag.RecentProducts) {
            <div>
                <img src="@product.ImageUrl">
                <h5>@product.ProductName</h5>
                <h5>(@product.ProductQuantity left)</h5>
            </div>
        }
    }
    <a href="/Products">show more...</a>
</div>

<div>
    <h4>Recent Orders</h4>
    @{
        foreach(var order in @ViewBag.RecentOrders) {
            <p>@order.Customer.CustomerName purchased @order.OrderQuantity @order.Product.ProductName... @order.CreatedAt</p>
        }
    }
    <a href="/Orders">show all orders...</a>
</div>

<div>
    <h4>New Customers</h4>
    @{
        foreach(var customer in @ViewBag.NewCustomers) {
            <p>@customer.CustomerName joined the store. (@customer.CreatedAt)</p>
        }
    }
    <a href="/Customers">show all customers...</a>
</div>