@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div class="container">
        <a href="/">Dashboard</a> | <a href="/Products">Products</a> | <a href="/Orders">Orders</a></li> | <a href="/Customers">Customers</a>
    </div>
</header>

<!--<div>
    <form asp-action="Search" asp-action="Home" method="Post">
        <input asp-for="ProductName">
        <input type="submit" value="Filter">
    </form>
</div>-->

<div class="eleven columns">
    <div class="row">
        @{
            foreach(var product in @ViewBag.RecentProducts) {
                <div class="three columns">
                    <img src="@product.ImageUrl" class="u-full-width">
                    <h5>@product.ProductName</h5>
                    <p>(@product.ProductQuantity left)</p>
                </div>
            }
        }
    </div>
    <a href="/Products">show more...</a>
</div>

<div class="row">
    <div class="u-full-width">
        <h4>Recent Orders</h4>
        @{
            foreach(var order in @ViewBag.RecentOrders) {
                <p>@order.Customer.CustomerName purchased @order.OrderQuantity @order.Product.ProductName... @order.CreatedAt</p>
            }
        }
        <a href="/Orders">show all orders...</a>
    </div>
</div>

<div class="u-full-width">
    <h4>New Customers</h4>
    @{
        foreach(var customer in @ViewBag.NewCustomers) {
            <p>@customer.CustomerName joined the store. (@customer.CreatedAt)</p>
        }
    }
    <a href="/Customers">show all customers...</a>
</div>